# LLM
openai==1.6.1

# API
uvicorn==0.25.0
fastapi==0.109.0

# Data Class
pydantic==2.5.3

# BDD
Chroma==0.2.0
chromadb==0.4.22
tiktoken==0.6.0

# Azure
opencensus-ext-azure==1.1.13

# Data Loader
## PDF
pdf2image==1.17.0
unstructured==0.12.3
pytesseract==0.3.10
opencv-python==4.9.0.80
unstructured-inference==0.7.23
pikepdf==8.12.0
tesseract==0.1.3
sentence-transformers==2.3.1
Aspose.Slides==24.1.0
python_pptx==0.6.23
pypdf==4.0.1
unstructured_pytesseract==0.3.12
charset-normalizer==2.1.0

# Dependencies
langchain==0.1.5
tqdm==4.66.1
pandas==2.1.4
spacy==3.7.2
langchain-community==0.0.17
langchain-openai==0.0.8
ipykernel==6.29.2
ipywidgets==8.1.2
retrying==1.3.4

# Fine tuning
openai-clip-1.0.1